@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="title">
    <h1>🔥litbikes🔥</h1>
</div>

<div id="welcome-container">
    <div id="welcome-message">coming soon maybe</div>
</div>

<div id="beta-icon" title="eternal beta">β</div>
